<p style='font-weight: bold'>Bạn có đặt lịch khám sức khỏe tại Clinic Demo</p>
<p>Họ và tên: {{name}}</p>
<p>Bác sĩ: {{doctorName}}</p>
<p>Ngày: {{date}}</p>
<p>Giờ: {{time}}</p>
<p>Địa chỉ: {{address}}</p>